@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
.logo{
    width: 400px;
    background-color: whitesmoke;
    text-align: center;
    margin: auto auto;
}
.fbimg{
    margin: auto auto;
    width: 240px;
}
.profile {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    text-align: center;
    width: 400px;
    border-radius: 10px;
    margin: auto auto;
}
.container input {
    margin: 20px 0px;
    padding: 14px 16px;
    width: 100%;
    height: 50px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    outline: none;
    font-size: 17px;
    display: flex;
    /* justify-content: center; */
}

.container .profile h1 {
    margin: 5px 0;
    color:black;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
}
.container {
    min-height: 80vh;
    background-color: whitesmoke;
    /* display: flex; */
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.btn{
    background-color: #1877f2;
    width: 100%;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
}
.link{
    margin: 15px 20px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.link a{
    color: #1877f2;
    direction: none;
    text-decoration: none;
}
